{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose.css') }}">
{% endblock %}
{% block title %}Выбрать книгу{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Выбрать книгу</h2>
                <p class="lead">В нашей библиотеке огромный ассортимент бумажных изданий со всего мира</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                 style="width: 40%; height: auto; border-radius: 21px 21px 0 0;">
                <div class="container group-card">
                    <div class="card small-card" style="width: 18rem;">
                        {% for book in context.books %}
                            <img src="{{ url_for('static', filename='/vendor/img/prince.jpg') }}" class="card-img-top"
                                 alt="prince">
                            <div class="card-body separated-block">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text card-text-color">{{ book.desc }}.</p>
                                <p class="card-text card-text-color">Кол-во в наличии: {{ book.qty }}.</p>
                                <a href="#" class="btn btn-primary">Взять книгу</a>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}